/* Home 페이지의 스타일 */

.home-section {
    /* background-image: url('../assets/hb9.jpg'); */
    background-size: cover; 
    background-position: center; 
    /* color: white;  */
    /* height: 60vh; */
  }
  
  .home-content {
    padding: 24px; 
    text-align: center;
  }
  
  .home-title {
    font-size: 20px; 
    text-align: left; 
  }
  

  .home-main-content {
    display: inline-block;
    margin: 40px;
  }

  
  .home-main-title {
    font-size: 40px;
  }
  
  .home-sub-title {
    font-size: 18px; 
  }