.Main {
  font-family: 'SUITE-Regular', sans-serif;
}
  
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(244, 244, 249, 0.8);
  color: white;
  padding: 20px;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
  
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
  
nav ul li {
  display: inline;
}
  
nav ul li a {
  color: #007bff;
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: font-weight 0.3s;
  font-size: 20px;
}
  
nav ul li a:hover {
  font-weight: bold; 
}

.section {
  box-sizing: border-box;
  padding: 32px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@media (max-width: 768px) {
  body {
    transform: scale(0.8); /* 80%로 축소 */
    transform-origin: top left; /* 축소 기준점을 왼쪽 상단으로 설정 */
    width: 125%; /* 축소된 콘텐츠를 볼 수 있도록 너비 조정 */
    overflow-x: hidden; /* 수평 스크롤 제거 */
  }
}
