.projects-section {
  padding: 100px;
  background-color: #f4f4f4;
}

.project-title {
  text-align: center;
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 100px;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px;
  margin: 20px;
}

.project-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.project-text{
  padding: 40px;
}

.project-title {
  font-size: 30px;
  color: #007bff;
  margin: 10px;
}

.project-skills {
  font-size: 16px;
  color: #333;
  margin: 20px;
  margin-bottom: 30px;
}

.project-description {
  font-size: 18px;
  color: #333;
  margin-top: 30px
}

.project-type{
  font-size: 18px;
  color: #333;
}


.project-github-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.project-github-link:hover {
  text-decoration: underline;
}